# Игнорировать виртуальную среду
venv/
env/
virtualenv/

# Игнорировать файл базы данных
*.sqlite3

# Игнорировать локальный файл настроек
local_settings.py

# Игнорировать файлы, специфичные для IDE
.vscode/
.idea/

# Игнорировать логи и временные файлы
*.log
*.pyc
__pycache__/

# Игнорировать файлы конфигурации среды
.env
.env.local

.DS_Store
